/* Base styles */

* {
    box-sizing: border-box
}

body {
    padding: 2%;
}

body, p {
    margin: 0;
}

/* Custom styles */ 

header {
    padding-bottom: 20px;
}

header div {
    width: 50%;
    float: left;
}

.navigation-menu p {
    float: right;
}

.content-slider {
    border: 1px black solid;
    padding: 50px 40%;
    margin-bottom: 27px;
}

.content-slider p, .info-box p {
    text-align: center;
}

.info-box {
    border: 1px black solid;
    float: left;
    width: 18%;
    margin-right: 1.9%;
    margin-bottom: 27px;
    padding: 50px 0 100px;
}

.large-height {
    margin-right: 0;
    padding: 50px 0 297px;
    float: right;
}

.large-width {
    width: 38%;
}

.margin-large-width {
    margin-right: 2%;
}

main {
    margin-bottom: 10px;
}

.footer {
    padding: 50px 40%;
    border: 1px black solid; 
}

@media screen and (max-width: 992px) {
    .info-box {
        width: 49%;
        margin: 10px 0;
    }
    .secondary {
        margin-left: 1.5%; 
    }
    .large-height{
        padding-bottom: 290px;
    }
}

@media screen and (max-width: 500px) {
    .info-box {
        float: none;
        width: 100%;
        margin: 30px 0;
    }
}

/* Clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}